
#toolbar {
		background-color: black;
		color: white;
		width: 100%;
		height: 72px;
		border-bottom: 2px solid grey;
		margin-bottom: 2px;
}

#LHStoolbar {
		width: 500px;
		height: 70px;
		float: left;
}

#logo {
		width: 50px;
		height: 50px;
		margin: 10px;
		margin-bottom: 15px;
		float: left;
}

#penTitle {
		float: left;
		margin: 5px 0 0 0;
	}

#pencil {
		width: 50px;
		height: 50px;
		margin: 0;
		padding-bottom: 15px;
		float: left;
		
}

#LHStoolbarText {
width: 420px;
float: left;
}

#LHStoolbarText p {
		margin-top: 0px;
		clear: left;
		line-height: 10%;
		position: relative;
		padding-top: 0px;
		
}

#LHStoolbar a {
		color: white;
		text-decoration: none;
}

#RHStoolbar {
		width: 360px;
		height: 70px;
		float: right;
}

#RHStoolbar button {
		background-color: black;
		color: white;
		float: left;
		margin: 20px 5px;
		height: 30px;
		padding: 3px 5px;
		border: 1px solid white;
		border-radius: 2px;
}

#RHStoolbar a {
		color: white;
		text-decoration: none;
}

button { 	/*  Not needed? */
		background-color: grey;
		color: white;
		float: left;
		height: 30px;
		corner-radius: 4px;
		margin: 20px 5px;
}

#profilelogo {
		width: 50px;
		height: 50px;
		margin: 10px;
}

body {
		background-color: grey;
}

.panel {
		border: 2px solid black;
		padding: 0;
		margin-bottom: 0;	
		background-color: #1D1F20;
}

.panelHorizontal {
		float: left;				
}

.menubar {
		background-color: black;
		color: white;
		border-bottom: 3px solid grey;
		height: 40px;	
		margin-top: 0;
}

.settings {
		float: left;
		height: 25px;
		width: 25px;
		margin: 5px;
		padding: 0;
}

.boxHeading {
	width: 100px;
	float: left;
}

.boxsize {
		float: right;
		height: 25px;
		width: 25px;
		margin: 5px;
}


.panel h3 {
		position: relative;
		padding-top: 10px;	
		font-size: 125%;
		margin: 0 5px 5px 5px;		

}

textarea {		
		background-color: #1D1F20;
		color: #DDCA7E;
		width: 100%;
		resize: none;
		padding: 10px;	
		border: 1px solid #1D1F20;
}

#outputbox {
		padding: 10px;
		float: right;
		margin-right: 2px;
		background-color: white;
}

#footer {
clear: both;
}

  /* for splitter... */
.panel-container {
  display: flex;
  flex-direction: row;
  border: 1px solid silver;
  overflow: hidden;
  
  /* avoid browser level touch actions */
  xtouch-action: none;
}

.panel-left {
  flex: 0 0 auto;
  /* only manually resize */
  padding: 10px;
  width: 300px;
  min-height: 200px;
  min-width: 150px;
  white-space: nowrap;
  background: #838383;
  color: white;
}

.splitter {
  flex: 0 0 auto;
  width: 18px;  
  background: url('https://raw.githubusercontent.com/RickStrahl/jquery-resizable/master/assets/vsizegrip.png') center center no-repeat #535353;
  min-height: 200px;
  cursor: col-resize;  
}

.panel-right {
  flex: 1 1 auto;
  /* resizable */
  padding: 10px;
  width: 100%;
  min-height: 200px;
  min-width: 200px;
  background: #eee;
}

