
#toolbar {
		background-color: black;
		color: white;
		width: 100%;
		height: 72px;
		border-bottom: 2px solid grey;
		margin-bottom: 2px;
}

#LHStoolbar {
		width: 300px;
		height: 60px;
		float: left;
}

#logo {
		width: 50px;
		height: 50px;
		margin: 10px;
		float: left;
}

#penTitle {
		float: left;
		margin-top: 10px;
}

#pencil {
		width: 20px;
		height: 20px;
		margin: 10px;
}

#LHStoolbar p {
		margin-top: 0px;
		float: left;
		line-height: 10%;
		position: relative;
		padding-top: 0px;
		
}

#LHStoolbar a {
		color: white;
		text-decoration: none;
}

#RHStoolbar {
		width: 400px;
		height: 60px;
		float: right;
}

button {
		background-color: grey;
		color: white;
		float: left;
		height: 30px;
		corner-radius: 4px;
		margin: 20px 5px;
}

#profilelogo {
		width: 50px;
		height: 50px;
		margin: 10px;
}

.panel {
		float: left;
		width: 20%;
		height: 100%;
		border: 2px solid black;
		padding: 0;
		
}

.menubar {
		background-color: black;
		color: white;
		border-bottom: 2px solid grey;
		height: 40px;	
		margin-top: 0;
}

.menubar img {
<<<<<<< HEAD
		height: 18px;
		width: 18px;
=======
		height: 10px;
		width: 10px;
>>>>>>> origin/master
		margin: 0;
}

.settings {
		float: left;
		height: 25px;
		width: 25px;
		margin: 5px;
		padding: 0;
}

.boxHeading {
width: 100px;
float: left;
}

.boxHeading {
width: 100px;
float: left;
}

.boxsize {
		float: right;
		height: 25px;
		width: 25px;
		margin: 5px;
}


.panel h3 {
position: relative;
padding-top: 10px;	
font-size: 125%;
margin: 0 5px 5px 5px;		

}

textarea {		
		background-color: white;
width: 100%;
<<<<<<< HEAD
resize: none;	

	
}

#outputbox {
		padding: 10px;
=======
resize: none;		
	
>>>>>>> origin/master
}




